@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-trigger {
  background: lightseagreen !important;
}

.ant-menu-item-selected {
	background-color:  #6fd943 !important;
	color: white !important;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(239 246 255 / 0.3);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.virtual-table .ant-table-container:before,
.virtual-table .ant-table-container:after {
	display: none;
}
.virtual-table-cell {
	box-sizing: border-box;
	padding: 16px;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
}
[data-theme='dark'] .virtual-table-cell {
	box-sizing: border-box;
	padding: 16px;
	border-bottom: 1px solid #303030;
	background: #141414;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #c9cdd7;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* For Firefox */
* {
	scrollbar-color: #4a5568 #cbd5e0;
	scrollbar-width: 10px;
	scrollbar-height: 10px;
}
